* {
  --white: #E8E9F3;
  --black: #272635;
}

body {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.gameboard-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 80dvh;
  height: 80dvh;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, .15);
  border: 1px solid var(--black);
}

.chess-cell.black {
  background-color: black;
}